#info1 {
    margin-left: 250px;
}
#zoom{
    border: 1px solid black;
    margin-right: 780px;
    padding: 10px;
}
#zoom:hover #img2 {-webkit-transform:scale(1.3);transform:scale(1.3);}
#zoom {overflow:hidden;}
#wraped{
    background-color: rgb(237, 125, 49);
    margin-left: 57%;
    margin-top: -626px;
}
#label, #data{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
#Style, #styleL, #moodL, #Mood, #facebookL, #Facebook, #genderL, #Gender, #countryL, #Country{
    background-color: rgb(251, 228, 213);
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#genreL, #Genre, #websiteL, #Website, #twitterL, #Twitter, #membersL, #Members{
    background-color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#piePagina{
    margin-top: 50px;
    background-color: rgb(237, 125, 49);
    padding-top: 20px;
    padding-bottom: 20px;
}
.pie{
    text-align: center;
    color: white;
}
.pagination{
    margin: 20px 0;
}
.pagination ul{
    list-style: none;
    text-align: center;
}
.pagination ul li{
    display: inline-block;
    margin-right: 10px;
}
.pagination ul li a{
    margin-top: 100px;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: black;
    text-decoration: none;
}
